.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.product-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  width: 210px;
  height: 250px;
  align-items: center;
}

.product-image{
  width: 150px;
  height: 150px;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 5px;
}

.page-number{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.active{
  background-color: blue;
}